**
!Dockerfile
!python/
!python/README.md
!python/pyproject.toml
!python/config/
!python/config/**
!python/examples/
!python/examples/**
!python/src/
!python/src/**
!python/tests/
!python/tests/**

python/.pytest_cache/
python/src/*.egg-info/
python/**/__pycache__/
python/**/*.pyc
